.add {
  padding-bottom: 100px;
  padding-top: 90px;
}

.add-line {
  display: flex;
}
.location {
  font-size: 18px;
  font-weight: 600;
  padding: 30px 87px 35px 55px;
  background: #ffcc01;
  display: inline-block;
}
.location i {
  margin-right: 30px;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  top: 7px;
  color: #fff;
}
.location-melbourn {
  position: relative;
  left: 260px;
  bottom: 50px;
}
.location-australia {
  position: relative;
  left: 260px;
  bottom: 50px;
}
.add-line h3 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 75px;
  margin-bottom: 40px;
  margin-left: 130px;
}
.add-line p {
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  margin-left: 130px;
}
.add-line-right p {
  margin-left: 0;
  margin-right: 130px;
}
.add-line-right h3 {
  margin-left: 0;
}
.add-line h3:last-of-type {
  margin-top: 25px;
}
.show-more {
  font-size: 18px;
  background: #1f373d;
  color: #fff;
  padding: 30px 70px 30px 55px;
  display: inline-block;
  margin-left: 130px;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .add {
    margin-top: -120px;
  }
  .add-line {
    flex-direction: column;
  }
  .location {
    font-size: 15px;
    padding: 15px 10px 18px 11px;
  }
  .location-melbourn {
    left: 100px;
    bottom: 50px;
  }
  .location-australia {
    left: 60px;
    bottom: 50px;
  }
  .add-line h3 {
    font-size: 25px;
    margin-top: 75px;
    margin-bottom: 40px;
    margin-left: 5%;
  }
  .add-line p {
    margin-left: 5%;
  }
  .add-line-right p {
    margin-left: 5%;
    margin-right: 0;
  }
  .show-more {
    font-size: 15px;
    padding: 20px 50px 20px 35px;
    margin-left: 15%;
    margin-top: 20px;
  }
}
