.agents {
   background: #f6f5f4;
   padding-top: 60px;
   margin-top: 30px;
}
.agents h2{
   font-size: 40px;
   font-weight: 600;
   margin-bottom: 20px;
}
.agents p {
   font-size: 15px;
   font-weight: 600;
   line-height: 30px;
}
.agents p:nth-child(3){
   margin-bottom: 60px;
}

.agent-block {
   display: flex;
   justify-content: space-between;
}
.cocial i {
   margin-right: 32px;
   position: relative;
   top: 7px;
   color: #000;
}
.cocial i:hover {
   color: #ffcc01;
}
.cocial i:last-child {
   margin-right: 18px;
}
.agent-cards {
   display: flex;
   justify-content: space-between;
   padding-bottom: 95px;
}
.agent-card {
   max-width: 344px;
   background: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.agent-card:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.agent-info {
   padding-top: 10px;
   padding-left: 25px;
}
.agent-name {
   color: #ffcc01;
}

@media screen and (max-width: 768px) {
   .agent-cards {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
.agent-card {
margin-top: 10px;
}
.agents h2 {
   margin-left: 10px;
}
.agents p {
   margin-left: 10px;
}
}