.apartments {
  background: #f6f5f4;
  padding: 60px 0;
}

.apart h2 {
  margin-bottom: 85px;
  font-size: 40px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 20px;
}
.card-container {
  padding: 25px;
}
.card-container P {
  font-size: 18px;
  font-weight: 600;
}
.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.card {
  max-width: 348px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.card:hover {
  background: #fafaf9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.card-info .money {
  font-size: 18px;
  font-weight: 600;
  color: #ffcc01;
}
.card-info i {
  margin-right: 8px;
  font-weight: 600;
}
.card-info span:first-child {
  margin-right: 18px;
}
.card-info span {
  font-weight: 600;
}

.apart input[type="text"] {
  margin-top: 50px;
  width: 300px;
  height: 70px;
  border: none;
  background-image: url(../../images/apartments/search.png);
  background-repeat: no-repeat;
  background-position: 27px;
  outline: none;
  padding-left: 62px;
  font-size: 18px;
  font-weight: 600;
  color: #919eb1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
.apart input[type="submit"] {
  width: 115px;
  border: none;
  height: 70px;
  background-color: #ffcc01;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-left: -4px;
  cursor: pointer;
}

.all {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 40px;
  cursor: pointer;
  margin-top: 52px;
}
.buttons-search {
  display: flex;
}
@media screen and (max-width: 768px) {
   .apart h2 {
      font-size: 28px;
      margin-left: 10px;
   }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
  }
  .apart input[type="text"] {
    margin-top: 20px;
    width: 130px;
  }
  .buttons-search {
    flex-direction: column;
    margin-left: 4%;
  }
  .all {
    background: #fff;
    margin-top: 10px;
    margin-left: 0;
  }
}
