.services img {
  width: 100%;
  height: auto;
}
.services h2 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 85px
}
.services h4 {
  font-size: 25px;
  margin-bottom: 25px;
}
.services p {
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
}

.serv-container {
  display: flex;
  margin-top: 70px;
}
.serv-img-container {
  width: 58%;
}
.serv-text {
  width: 42%;
  margin-left: 3%;
}

.serv-text p {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .serv-container {
    margin-top: 20px;
    flex-direction: column;
  }
  .serv-img-container {
    width: 100%;
  }
  .serv-text {
    width: 100%;
  }
  .services h2 {
    margin-left: 15px;
  }
  .services p {
    margin-left: 20px;
  }
}
