.stats {
  display: flex;
  margin-top: 130px;
}

.stats-text {
  padding-top: 30px;
  padding-right: 40px;
}
.stats-text h2 {
  font-size: 40px;
  margin-bottom: 70px;
}
.stats-text p {
  margin-top: 50px;
  font-size: 16px;
  line-height: 27px;
}

.stats-line {
  display: flex;
}
.sguare {
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.stats-sguare {
  font-size: 40px;
  color: #ffcc01;
  margin-bottom: 15px;
}
.sguare-text {
  font-size: 14px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .stats {
    margin-top: 0;
    flex-direction: column;
  }
  .stats-text {
    padding: 10px;
  }
  .stats-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 8px;
  }
  .stats-text p {
    margin-top: 5px;
    font-size: 13px;
    line-height: 18px;
    
  }
  .sguare {
    height: 120px;
    margin: 10px;
  }
  .stats-sguare {
    font-size: 25px;
  }
}
